<style> 


</style>

<div class="footer-container">
  <footer class="footer">
    <div class="md-flex md-justify-between">
      <a href="#" class="footer__logo">
        税金CHECKER
      </a>
      <ul class="footer__navi flex">
        <li><a href="#">About</a></li>
        <li><a href="#">サイトマップ</a></li>
        <li><a href="#">プライバシーポリシー</a></li>
      </ul>
    </div>
  <hr />
    <p class="copyright">
      © 2023 <a href="#">税金CHECKER Inc.</a> All Rights Reserved.
    </p>
  </footer>
</div>