<style> 


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.flex {
  display: flex;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #999;
  background: #fff;
  margin-top:500px;
}

.footer__navi {
  flex-wrap: wrap;
  margin-bottom: 2rem;
  
}

.footer__navi li {
  display: inline-block;
}

.footer__navi li:not(:last-child) {
  margin-right: 16px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
}



@media(max-width: 1024px) {
  .footer{
    height:50px;
    margin-top:calc(10% + 50px);
  }

  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }
}

@media (max-width: 700px) {
    /* フッター */
    .footer{
      height: 80px; /* 適切な高さに調整する */
    margin-top: calc(10% + 80px);
    }
  }
</style>

 <div class="footer-container">
      <footer class="footer">
  <div class="md-flex md-justify-between">
    <a href="#" class="footer__logo">
        税金CHECKER
    </a>
    <ul class="footer__navi flex">
      <li><a href="#">About</a></li>
      <li><a href="#">サイトマップ</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
    </ul>
  </div>
  <hr />
  <p class="copyright">
    © 2023 <a href="#">税金CHECKER Inc.</a> All Rights Reserved.
  </p>
</footer>
    </div>
    