<div class ="result" id="result">
<table id="salaryResultTable">
    <thead>
      <tr>
        <th>項目</th>
        <th>金額 (円)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>基本月給</td>
        <td id="basicSalaryAmount">0円</td>
      </tr>
      <tr>
        <td>厚生年金</td>
        <td id="pensionAmount">0円</td>
      </tr>
      <tr>
        <td>健康保険</td>
        <td id="healthInsuranceAmount">0円</td>
      </tr>
      <tr>
        <td>雇用保険</td>
        <td id="employmentInsuranceAmount">0円</td>
      </tr>
      <tr>
        <td>国民年金</td>
        <td id="nationalPensionAmount">0円</td>
      </tr>
      <tr>
        <td>国民健康保険</td>
        <td id="nationalHealthInsuranceAmount">0円</td>
      </tr>
      <tr>
        <td>所得税</td>
        <td id="incomeTaxAmount">0円</td>
      </tr>
      <tr>
        <td>住民税</td>
        <td id="residentTaxAmount">0円</td>
      </tr>
      <tr>
        <td>手取り収入</td>
        <td id="netIncome">0円</td>
      </tr>
    </tbody>
  </table>
</div>