<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Salary Simulation</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
  
<style>
  .format .right-align {
    text-align: right;
  }
  .format{
    height:400px;
  }
</style>


<body>

<script>
  function calculatePension() {
    let workYears = parseInt(document.getElementById('workYears').value, 10);
    let unemployedMonths = parseInt(document.getElementById('unemployedMonths').value, 10);
    let additionalMonths = parseInt(document.getElementById('additionalMonths').value, 10);

    function convertToHalfWidth(value) {
      return value.replace(/[0-9]/g, function (s) {
      return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
      });
    }
      // 必要な条件分岐を追加
      if (isNaN(workYears) || isNaN(unemployedMonths) || isNaN(additionalMonths)) {
          alert("入力が不足しています。全ての項目を入力勤続年数は半角で入力してくださいしてください。");
      return;
          }
      // 勤めた年と雇用されていなかった月、追納した月の回数を合算して納付済み月数を計算
    let paidMonths = workYears * 12 - unemployedMonths + additionalMonths;
    let pensionAmountTotal = Math.floor(777800 * (paidMonths / 480));
    let pensionAmountMonthly = Math.floor(pensionAmountTotal / 12);

        document.getElementById('Amount_1_monthly').textContent = pensionAmountMonthly.toLocaleString() + '円';
        document.getElementById('Amount_1_total').textContent = pensionAmountTotal.toLocaleString() + '円'; 
          updateDonutChart(pensionAmountTotal);
      }

    function updateDonutChart(pensionAmount) {
      let ctx = document.getElementById('myDonutChart_1').getContext('2d');
      let myDonutChart = new Chart(ctx, {
          type: 'doughnut',
          data: {
            datasets: [{
              data: [pensionAmount, 0],
              backgroundColor: ['#36A2EB', '#FFFFFF'],
            }],
          },
            options: {
              cutoutPercentage: 70,
              responsive: true,
            },
        });
      }
</script>

<%# ヘッダー %>
<%= render partial: "header" %>
<div class="bg">
  <div class="main">
    <div class="m">
    <%# 円グラフ %>
    <div class= "graph">
      <canvas id="myDonutChart_1" width="300" height="300"></canvas>
    </div>
    <%# 入力フォーム %>
    <div class="format">
      <div class="form-container">
        <label for="workYears">勤続年数:</label>
          <select id="workYears"  required>
            <option value="">選択してください</option>
            <option value="0">0年</option>
            <option value="1">1年</option>
            <option value="2">2年</option>
            <option value="3">3年</option>
            <option value="4">4年</option>
            <option value="5">5年</option>
            <option value="6">6年</option>
            <option value="7">7年</option>
            <option value="8">8年</option>
            <option value="9">9年</option>
            <option value="10">10年</option>
            <option value="11">11年</option>
            <option value="12">12年</option>
            <option value="13">13年</option>
            <option value="14">14年</option>
            <option value="15">15年</option>
            <option value="16">16年</option>
            <option value="17">17年</option>
            <option value="18">18年</option>
            <option value="19">19年</option>
            <option value="20">20年</option>
            <option value="21">21年</option>
            <option value="22">22年</option>
            <option value="23">23年</option>
            <option value="24">24年</option>
            <option value="25">25年</option>
            <option value="26">26年</option>
            <option value="27">27年</option>
            <option value="28">28年</option>
            <option value="29">29年</option>
            <option value="30">30年</option>
            <option value="31">31年</option>
            <option value="32">32年</option>
            <option value="33">33年</option>
            <option value="34">34年</option>
            <option value="35">35年</option>
            <option value="36">36年</option>
            <option value="37">37年</option>
            <option value="38">38年</option>
            <option value="39">39年</option>
            <option value="40">40年</option>
            </select>
      </div>
      <div class="form-container">
        <label for="unemployedMonths">雇用されていなかった月:</label>
          <select id="unemployedMonths"  required>
          <option value="">選択してください</option>
          <option value="0">0ヶ月</option>
          <option value="1">1ヶ月</option>
          <option value="2">2ヶ月</option>
          <option value="3">3ヶ月</option>
          <option value="4">4ヶ月</option>
          <option value="5">5ヶ月</option>
          <option value="6">6ヶ月</option>
          <option value="8">8ヶ月</option>
          <option value="9">9ヶ月</option>
          <option value="10">10ヶ月</option>
          <option value="11">11ヶ月</option>
          <option value="12">12ヶ月</option>
          </select>
      </div>
      <div class="form-container">
        <label for="additionalMonths">追納した月の回数:</label>
          <select id="additionalMonths" required>
          <option value="">選択してください</option>
          <option value="0">0ヶ月</option>
          <option value="1">1ヶ月</option>
          <option value="2">2ヶ月</option>
          <option value="3">3ヶ月</option>
          <option value="4">4ヶ月</option>
          <option value="5">5ヶ月</option>
          <option value="6">6ヶ月</option>
          <option value="7">7ヶ月</option>
          <option value="8">8ヶ月</option>
          <option value="9">9ヶ月</option>
          <option value="10">10ヶ月</option>
          <option value="11">11ヶ月</option>
          <option value="12">12ヶ月</option>
          </select>
      </div>
      <%# 計算 %>
      <div class= "keisan">
        <button type="button" id="result" onclick="calculatePension(); showResults_1();">計算</button>
      </div>
      </form>
      </div>
      </div>
      <%# 上までがフォーマット %>
      <div class="z">
        <p class="shu">シミュレーション</p>
      </div>
      <%# 結果 %>
      <div class ="result" id="result">
        <table id="salaryResultTable">
          <thead>
            <tr>
            <th>項目</th>
            <th>金額 (円)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>老齢基礎年金（年間総支給額）</td>
            <td id="Amount_1_total">0円</td>
            </tr>
            <tr>
            <td>老齢基礎年金（月間支給額）</td>
            <td id="Amount_1_monthly">0円</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
      <%= render partial: "icon"%>
      </div>
      <%# フッター %>
      <div class="under">
        <%= render partial: "footer"%>
      </div>
</div>