.result {
  display: flex;
  justify-content: center;
}

table {
  width: 70%; /* 例: 全体の幅の70%に設定 */
  font-family: Arial, sans-serif;
  border-collapse: collapse; /* セルの境界線を重ねる */
  margin-top: 10px; /* 余白を追加 */
}

th, td {
  border: 1px solid #34495e;
  padding: 8px; /* セルの余白を調整 */
  text-align: center;
}

th {
  background-color: green;
  color: white;
}

/* 偶数行と奇数行の背景色 */
tr:nth-child(even) {
  background-color: #253141; /* 紺色に変更 */
}

tr:nth-child(odd) {
  background-color: #34495e; /* 青色に変更 */
}

/* 金額セルの右寄せ */
td[id$="Amount"] {
  text-align: right;
}

/* 手取り収入セルの特別なスタイル */
#netIncome {
  font-weight: bold;
  background-color: royalblue;
}

/* ヘッダーセルのスタイル */
th {
  font-weight: bold;
  background-color: #337ab7;
}

.pensionAmount {
  color: white;
}

body {
  margin: 0;
}



#instructions {
  position: absolute;
  color: #fff;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}